/* .container {
}

.subscribe-text {
}

.subscription-form {
}

.form-label {
}

.form-input {
}

.subscribe-button {
}

.button-icon {
} */
/* ================================================ */
.footer-mail-form-container {
  margin-bottom: 16px;
}
/* .footer-form-container {
} */
.footer-subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-subscription-form {
  display: flex;
}
.footer-form-label {
  margin-right: 24px;
}
.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.form-input::placeholder {
  color: #ffffff;
}
.footer-subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.footer-button-icon {
  margin-left: 16px;
}

/* -------------------------------------------- */
